@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

*{
    background-color: dimgray;
    color: ghostwhite;
    padding: 0px;
    margin: 0px;
}
h1{
    font-size: 200px;
    font-family: fondamento;
}
.wrap{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 300px 75px 1fr;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 
    "he he"
    "na na"
    "mn as"    
    ;
}
.topbar{
    grid-area: he;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    height: 300px;
    display: flex;
}
#head-text{
    color: orange;
    padding-left:40px ;
    background-color: transparent;
}
.nav_top{
    grid-area: na;
    background-color: brown;
    display: flex;

}
.nav_top a {
    background-color: transparent;
    color: tomato;
}
.home_main{
    grid-area: mn;
}
.as-main{
    grid-area: as;

}