@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

*{
    background-color: dimgray;
    color: ghostwhite;
    padding: 0px;
    margin: 0px;
    font-family: fondamento;
    overflow-x: hidden;
}
img{
    height: 700px;
    width: auto;
}
h1{
    font-size: 200px;
    font-family: fondamento;
}
.wrap{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 25% 4% 1fr;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 
    "he he"
    "na na"
    "mn as"    
    ;
}
.topbar{
    grid-area: he;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    height: 300px;
    display: flex;
}
#fennessy-text{
    color: orange;
    padding-left: 3%; ;
    background-color: transparent;
}
.nav-link{
    grid-area: na;
   background-color: rgb(121, 61, 21);
}
.nav-link a{
    color: orange;
    background-color:  rgb(71, 36, 13);
    text-decoration: none;
    font-size: 200%;
    padding: 0px 20px;
    border-radius: 15%;
}
.nav-link a:hover{
    color: rgb(226, 206, 94);
    transition: color 1s ease;
}
.nav-link li{
    background-color: transparent;

}
.nav-link ul{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none ;
    align-items: center;
    height: 100%;
}
.main-text{
    grid-area: mn;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-text h2 {
    padding-bottom: 1%;
    font-size: 300%;
    text-shadow: black 5px 5px 3px;
}
.main-text p{
 padding: 1px;
}
.main-as{
    grid-area: as;
    background-color: rgb(46, 46, 46);
    padding: 3% ;
}
.main-as p {
    background-color: transparent;
    padding-bottom: 4%;
}